body {
    background: #fff;
    color: black;
    font-family: sans-serif;
}

.container {
    display: block;
    width: 600px;
    margin: 100px auto 0;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px 16px 30px;
}

ol {
    margin: 5px 0;
    padding: 0;
}

li * {
    float: left;
}

li, h3 {
    clear: both;
    list-style: none;
}

input, button {
    outline: none;
}

button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
    margin: 8px auto;
}


button:hover {
    color: black;
}

#delete:hover {  
    color: #CF2323;
}

#add:hover {
    border-radius: 14px;
    border: 1px solid #ddd;
}

#add {
    float: right;
    padding: 10px;
    margin-top: 0;
    width: 15%;
    border: 1px solid #ffffff;
}

h3 {
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 2px solid black;
    padding: 15px 0;
    margin: 0 0 10px;
    text-transform: uppercase;
}

input[type="text"] {
    margin: 1px 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: sans-serif;
    color: #888;
}

input[type="subtext"] {
    margin: 1px 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: sans-serif;
    color: #888;
}

input[type="text-category"] {
    margin: 1px 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: sans-serif;
    color: #888;
}

input[type="text"]:focus {
    color: black;
}

input[type="subtext"]:focus {
    color: black;
}

input[type="text-category"]:focus {
    color: black;
}

label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
}

input#new-task {
    float: left;
    width: 60%;
}

input#filttext {
    float: right;
    width: 17%;
}

input#category {
    float: left;
    width: 15%;
}


li {
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
    transform: scale(1.5);
}

li > label {
    font-size: 18px;
    line-height: 40px;
    width: 50%;
    padding: 1px 0 0 11px
}

li > label-sub {
    display: none;
}

li > label-category {
    font-size: 18px;
    line-height: 40px;
    width: 15%;
    padding: 1px 0 0 11px
}

li > .important:hover {
    color: #ff0000;
}


li > .delete:hover {
    color: #CF2323;
}

li > .subdelete:hover {
    color: #CF2323;
}

li > input[type="text"] {
    width: 48%;
}

li > input[type="subtext"] {
    width: 65%;
}

li > input[type="text-category"] {
    width: 15%;
}

ol li input[type=text] {
    display: none;
}

ol li input[type="text-category"] {
    display: none;
}

ol li.editMode input[type=text] {
    display: block;
}

ol li.editMode input[type=text-category] {
    display: block;
}

ol li.editMode label {
    display: none;
}

ol li.editMode label-category {
    display: none;
}
